<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChromeDriver2.1" version="2.1.210652" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.0" targetFramework="net452" />
  <package id="SeleniumWebDrivers" version="1.0.0.4" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="2.1.0" targetFramework="net452" />
  <package id="SpecRun.NUnit" version="1.5.2" targetFramework="net452" />
  <package id="SpecRun.Runner" version="1.5.2" targetFramework="net452" />
  <package id="WebDriver.GeckoDriver" version="0.9.0" targetFramework="net452" />
</packages>